<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>所有内容</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- icon sets -->
    <!-- elegant icons -->
    <link href="assets/icons/elegant/style.css" rel="stylesheet" media="screen">
    <!-- elusive icons -->
    <link href="assets/icons/elusive/css/elusive-webfont.css" rel="stylesheet" media="screen">
    <!-- flags -->
    <link rel="stylesheet" href="assets/icons/flags/flags.css">
    <!-- scrollbar -->
    <link rel="stylesheet" href="assets/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- page specific stylesheets -->
    <!-- footable -->
    <link href="assets/lib/footable/css/footable.core.min.css" rel="stylesheet" media="screen">
    <!-- google webfonts -->
    <link href='assets/css/fonts.googleapis.css' rel='stylesheet' type='text/css'>
    <!-- main stylesheet -->
    <link href="assets/css/main.min.css" rel="stylesheet" media="screen" id="mainCss">
    <!-- moment.js (date library) -->
    <script src="assets/js/moment-with-langs.min.js"></script>
</head>
<body class="side_menu_active side_menu_expanded">
<div id="page_wrapper">

    <!-- header -->
    <header id="main_header"></header>

    <!-- breadcrumbs -->
    <nav id="breadcrumbs">
        <ul>
            <li><a href="dashboard.html">首页</a></li>
            <li><span>内容管理</span></li>
            <li><span>内容列表</span></li>
        </ul>
    </nav>

    <!-- main content -->
    <div id="main_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div id="statusBarDivClick" class="list-group">
                        <a class="active list-group-item">所有内容</a>
                        <a class="list-group-item">已删除</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <input id="textFilter" type="text" class="form-control input-sm">
                            <span class="help-block">过滤</span>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control input-sm">
                                <option value="active" selected>markdown</option>
                                <option value="disabled">富文本</option>
                            </select> <span class="help-block">内容类型</span>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-default btn-sm" id="clearFilters">查询</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-yuk2 toggle-arrow-tiny" id="footable_demo" data-filter="#textFilter" data-page-size="5">
                                <thead>
                                <tr>
                                    <th data-toggle="true">标题</th>
                                    <th>作者</th>
                                    <th>所属菜单</th>
                                    <th>内容类型</th>
                                    <th>发布时间</th>
                                    <th data-hide="phone">状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="art_cont"></tbody>
                            </table>
                            <ul id="my-page" class="pagination pagination-sm">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main menu -->
    <nav id="main_menu">
    </nav>

</div>

<script src="assets/js/main.entry.js"></script>
<script src="assets/js/content_list.js"></script>

</body>
</html>
