<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新增内容</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--Umeditor样式加载-->
    <link href="assets/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
    <!-- icon sets -->
    <!-- elegant icons -->
    <link href="assets/icons/elegant/style.css" rel="stylesheet" media="screen">
    <!-- elusive icons -->
    <link href="assets/icons/elusive/css/elusive-webfont.css" rel="stylesheet" media="screen">
    <!-- flags -->
    <link rel="stylesheet" href="assets/icons/flags/flags.css">
    <!-- scrollbar -->
    <link rel="stylesheet" href="assets/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- google webfonts -->
    <link href='assets/css/fonts.googleapis.css' rel='stylesheet' type='text/css'>
    <!-- main stylesheet -->
    <link href="assets/css/main.min.css" rel="stylesheet" media="screen" id="mainCss">
    <!-- MarkDown编辑器 -->
    <link rel="stylesheet" href="assets/markdown/css/editormd.css"/>

    <!-- moment.js (date library) -->
    <script src="assets/js/moment-with-langs.min.js"></script>
</head>
<body class="side_menu_active side_menu_expanded">
<div id="page_wrapper">

    <!-- header -->
    <header id="main_header">
    </header>

    <!-- breadcrumbs -->
    <nav id="breadcrumbs">
        <ul>
            <li><a href="dashboard.html">首页</a></li>
            <li><span>MarkDown笔记管理</span></li>
            <li><span>新增MarkDown笔记</span></li>
        </ul>
    </nav>

    <!-- main content -->
    <div id="main_wrapper">
        <div class="container-fluid">
            <fieldset>
                <legend><span>发布MarkDown笔记</span></legend>
            </fieldset>
            <div class="row">
                <div class="col-lg-6">
                    <label for="content_title">内容标题:</label>
                    <input type="text" id="content_title" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="content_small_title">小标题:</label>
                    <input type="text" id="content_small_title" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="content_author">作者:</label>
                    <input type="text" id="content_author" class="form-control" readonly="readonly" value="ddcome">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="menu_id">所属菜单</label>
                        <select id="menu_id" class="form-control">
                            <option value="1">菜单一</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!--MarkDown编辑器-->
                    <div class="editormd" id="test-editormd">
                        <textarea>### Hello world!</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button id="publish_btn" class="btn" type="button">发&nbsp;&nbsp;布</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn" type="button">取&nbsp;&nbsp;消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- main menu -->
    <nav id="main_menu"></nav>

</div>

<script src="assets/js/main.entry.js"></script>
<script src="assets/js/markdown_add.js"></script>

</body>

</html>
