<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>内容列表</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- icon sets -->
    <!-- elegant icons -->
    <link href="assets/icons/elegant/style.css" rel="stylesheet" media="screen">
    <!-- elusive icons -->
    <link href="assets/icons/elusive/css/elusive-webfont.css" rel="stylesheet" media="screen">
    <!-- flags -->
    <link rel="stylesheet" href="assets/icons/flags/flags.css">
    <!-- scrollbar -->
    <link rel="stylesheet" href="assets/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- page specific stylesheets -->
    <!-- footable -->
    <link href="assets/lib/footable/css/footable.core.min.css" rel="stylesheet" media="screen">
    <!-- google webfonts -->
    <link href='assets/css/fonts.googleapis.css' rel='stylesheet' type='text/css'>
    <!-- main stylesheet -->
    <link href="assets/css/main.min.css" rel="stylesheet" media="screen" id="mainCss">
    <!-- moment.js (date library) -->
    <script src="assets/js/moment-with-langs.min.js"></script>
</head>
<body class="side_menu_active side_menu_expanded">
<div id="page_wrapper">

    <!-- header -->
    <header id="main_header"></header>

    <!-- breadcrumbs -->
    <nav id="breadcrumbs">
        <ul>
            <li><a href="dashboard.html">首页</a></li>
            <li><span>内容管理</span></li>
            <li><span>内容列表</span></li>
        </ul>
    </nav>

    <!-- main content -->
    <div id="main_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="active list-group-item">JSON数据管理</a>
                        <a href="#" class="list-group-item">列表数据管理</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div role="alert" class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <strong>提示：&nbsp;&nbsp;</strong>请注意menuId必须唯一
                        </div>
                        <div class="col-md-12">
                            <a class="btn btn-default btn-sm" id="recover">还原</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-success btn-sm" id="save">保存</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="aceEditor" class="ace_editor" style="height:500px;" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main menu -->
    <nav id="main_menu"></nav>

</div>
<script src="assets/js/main.entry.js" type="text/javascript"></script>
<script src="assets/js/menu_configuration.js" type="text/javascript"></script>
</body>
</html>
