<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- icon sets -->
    <!-- elegant icons -->
    <link href="assets/icons/elegant/style.css" rel="stylesheet" media="screen">
    <!-- elusive icons -->
    <link href="assets/icons/elusive/css/elusive-webfont.css" rel="stylesheet" media="screen">
    <!-- flags -->
    <link rel="stylesheet" href="assets/icons/flags/flags.css">
    <!-- scrollbar -->
    <link rel="stylesheet" href="assets/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- google webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- main stylesheet -->
    <link href="assets/css/main.min.css" rel="stylesheet" media="screen" id="mainCss">
    <!-- moment.js (date library) -->
    <script src="assets/js/moment-with-langs.min.js"></script>
</head>
<body class="side_menu_active side_menu_expanded">
<div id="page_wrapper">

    <!-- header -->
    <header id="main_header">
    </header>

    <!-- breadcrumbs -->
    <nav id="breadcrumbs">
        <ul>
            <li><a href="/">首页</a></li>
            <li><span>文件管理</span></li>
            <li><span>图片上传</span></li>
        </ul>
    </nav>

    <!-- main content -->
    <div id="main_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend><span>图片上传</span></legend>
                    </fieldset>
                    <label for="serverUrl">上传至服务器路径:</label>
                    <input type="text" id="serverUrl" name="serverUrl" value="G:/UPLOADS" class="form-control">
                    <br/>
                    <form class="form-horizontal" enctype='multipart/form-data' method='post' action='javascript:;'
                          role="form"
                          id="frmUploadFile">
                        <input type="file" name="files" class="form-control"/>
                        <span class="help-inline" id="spanMessage">选择文件，并上传</span>
                    </form>
                    <br/>
                    <label for="fileType">文件类型:</label>
                    <input type="text" id="fileType" name="serverUrl" value="jpg" class="form-control">
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend><span>历史上传文件记录</span></legend>
                    </fieldset>
                    <table class="table table-yuk2 toggle-arrow-tiny" id="footable_demo" data-filter="#textFilter" data-page-size="5">
                        <thead>
                        <tr>
                            <th data-toggle="true">ID</th>
                            <th>文件名</th>
                            <th>
                                <select name="" id="">
                                    <option value="">文件类型</option>
                                    <option value="">PNG</option>
                                    <option value="">JPEG</option>
                                </select>
                            </th>
                            <th>文件路径</th>
                            <th>上传时间</th>
                            <th data-hide="phone">状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="art_cont"></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-default btn-sm" onClick="uploadImage()">上传</button>
                </div>

            </div>
        </div>
    </div>

    <!-- main menu -->
    <nav id="main_menu">
    </nav>

</div>

<script src="assets/js/main.entry.js"></script>
<!-- JavaScript脚本程序 -->
<script type="text/javascript">


    function upload() {

        ajaxFileUpload();

    }

    //测试
    function ajaxFileUpload() {
        var serverUrl = $("#serverUrl").val();


        $.ajaxFileUpload({
            url: '/uploadPic',
            secureuri: false,
            fileElementId: 'fileToUpload',
            dataType: 'JSON',
            data: {},
            success: function (data, status) {
                console.log(data);
                console.log(status);
            },
            error: function (data, status, e) {
                console.log(data);
                console.log(status);
                console.log(e);
                alert('上传出错');
            }
        })
        return false;
    }

    function uploadImage() {
        var formData = new FormData($("#frmUploadFile")[0]);
        $.ajax({
            url: '/uploadPic',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (200 === data.code) {
                    $("#imgShow").attr('src', data.filepath);
                    $("#spanMessage").html("上传成功");
                } else {
                    $("#spanMessage").html("上传失败");
                }
                console.log('imgUploader upload success, data:', data);
            },
            error: function (err) {
                console.log("err", err);
                $("#spanMessage").html("与服务器通信发生错误");
            }
        });
    }
</script>

</body>
</html>
